@media ( max-width:1024px){
    .center{
        padding-left: calc(50% - 393px);
        padding-right: calc(50% - 393px);
    }

    .top{
        background-image: url(kartinki/Vector.png);
        background-repeat:no-repeat ;
        background-position: top right;
        height: 700px;

        &__star3{
            position: absolute;
            top: 64px;
            left: 91px;
            width: 21px;
            height: 21px;
          }

          &__star2{
            position: absolute;
            top: 97px;
            left: 37px;
            width: 35px;
            height: 35px;
          }

          &__star5{
            position: absolute;
            top: 557px;
            left: 800px;
            width: 18px;
            height: 18px;
          }

          &__star4{
            position: absolute;
            top: 580px;
            left: 900px;
            width: 39px;
            height: 41px;
          }
    }

    .games__img{
        width: 240px;
        height: 240px;
    }

    .games__names{
        font-weight: 700;
        line-height: 39.01px;
        text-align: left;
        text-underline-position: "from-font";
        text-decoration-skip-ink: none;
        font-family: "Montserrat";
        font-size: 16px;
    }

    .games__info{
        width: 171px;
    }

    .kartinka{
        width: 256px;
        height: 256px;
        border-radius: 30px;
    }

    .content-item__names{
        font-weight: 700;
        line-height: 39.01px;
        text-align: left;
        text-underline-position: "from-font";
        text-decoration-skip-ink: none;
        font-family: "Montserrat";
        font-size: 20px;
    }

    .content-item__rools{
        font-weight: 400;
        line-height: 19.5px;
        text-align: left;
        text-underline-position: "from-font";
        text-decoration-skip-ink: none;
        font-family: "Montserrat";
        font-size: 16px;
    }

    .content-item__button{
        width: 285px;
        height: 55px;
        font-size: 16px;
        font-weight: 600;
        line-height: 22.67px;
        text-align: center;
        text-underline-position: "from-font";
        text-decoration-skip-ink: none;
        font-family: "Montserrat";
    }



}